In [1]:
import tabula

In [2]:
tabula.convert_into('document.pdf', 'test.csv', output_format="csv", stream=True, pages=2)

In [3]:
import pandas as pd

In [4]:
pd.read_csv('test.csv')

,Unnamed: 0,Identificación del Trabajador,Unnamed: 2,Unnamed: 3,Unnamed: 4,Fondo de Pensiones,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Seguro Cesantía,Unnamed: 11,Unnamed: 12,Movimiento de Personal
0,RUT,"Apellido Paterno, Materno, Nombres",Remuneración,Cotización,SIS,Cotización,N° Contrato,Deposito,NaN,Dep. en Cta.,Remuneración Cotización,Cotización,Cod.,Fecha Inicio Fecha
1,NaN,NaN,Imponible,Obligatoria,NaN,Voluntaria,APVI,Convenido,NaN,Ahorro,Imponible Afiliado,Empleador,NaN,Término
2,NaN,NaN,NaN,NaN,NaN,(APVI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.278.815-4,BARRA ASTUDILLO MAURICIO ARMANDO,574.346,65.705,7.237,0,NaN,NaN,0.0,0,574.346 0,17.230,0,NaN
4,6.113.761-0,GONZALEZ NUNEZ HECTOR GUILLERMO,284.289,32.523,3.582,0,NaN,NaN,0.0,0,284.289 1.706,6.823,0,NaN
5,16.747.157-9,HUERTA MELLA MARLEN VIRGINIA,237.504,27.170,2.993,0,NaN,NaN,0.0,0,237.504 0,7.125,0,NaN
6,8.868.203-3,MUNOZ SANDOVAL PATRICIA DEL CARMEN,756.849,86.584,9.536,0,NaN,NaN,0.0,0,756.849 4.541,18.164,0,NaN
7,16.750.572-4,PELLEGRINI RIQUELME SILVIA,610.141,69.800,7.688,0,NaN,NaN,0.0,0,610.141 0,18.304,0,NaN
8,NaN,TOTALES GENERALES,2.463.129,281.782,31.036,0,NaN,NaN,0.0,0,2.463.129 6.247,67.646,NaN,NaN

# LATTICE

In [5]:
dfs = tabula.read_pdf("document.pdf", pages='2', lattice=True)

In [6]:
len(dfs)

4

In [10]:
dfs[3]

,Identificación del Trabajador,Fondo de Pensiones,Seguro Cesantía,Movimiento de Personal,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,RUT,"Apellido Paterno, Materno, Nombres",Remuneración\rImponible,Cotización\rObligatoria,SIS,Cotización\rVoluntaria\r(APVI),N° Contrato\rAPVI,Deposito\rConvenido,Dep. en Cta.\rAhorro,Remuneración\rImponible,Cotización\rAfiliado,Cotización\rEmpleador,Cod.,Fecha Inicio,Fecha\rTérmino
1,13.278.815-4,BARRA ASTUDILLO MAURICIO ARMANDO,574.346,65.705,7.237,0,NaN,0,0,574.346,0,17.230,0,NaN,NaN
2,6.113.761-0,GONZALEZ NUNEZ HECTOR GUILLERMO,284.289,32.523,3.582,0,NaN,0,0,284.289,1.706,6.823,0,NaN,NaN
3,16.747.157-9,HUERTA MELLA MARLEN VIRGINIA,237.504,27.170,2.993,0,NaN,0,0,237.504,0,7.125,0,NaN,NaN
4,8.868.203-3,MUNOZ SANDOVAL PATRICIA DEL CARMEN,756.849,86.584,9.536,0,NaN,0,0,756.849,4.541,18.164,0,NaN,NaN
5,16.750.572-4,PELLEGRINI RIQUELME SILVIA,610.141,69.800,7.688,0,NaN,0,0,610.141,0,18.304,0,NaN,NaN
6,TOTALES GENERALES,2.463.129,281.782,31.036,0,0,0,2.463.129,6.247,67.646,NaN,NaN,NaN,NaN,NaN

# STREAM

In [11]:
dfs2 = tabula.read_pdf("document.pdf", pages='2', stream=True)

In [12]:
len(dfs2)

1

In [13]:
dfs2[0]

,Unnamed: 0,Identificación del Trabajador,Unnamed: 1,Unnamed: 2,Unnamed: 3,Fondo de Pensiones,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Seguro Cesantía,Unnamed: 8,Unnamed: 9,Movimiento de Personal
0,RUT,"Apellido Paterno, Materno, Nombres",Remuneración,Cotización,SIS,Cotización,N° Contrato,Deposito,NaN,Dep. en Cta.,Remuneración Cotización,Cotización,Cod.,Fecha Inicio Fecha
1,NaN,NaN,Imponible,Obligatoria,NaN,Voluntaria,APVI,Convenido,NaN,Ahorro,Imponible Afiliado,Empleador,NaN,Término
2,NaN,NaN,NaN,NaN,NaN,(APVI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.278.815-4,BARRA ASTUDILLO MAURICIO ARMANDO,574.346,65.705,7.237,0,NaN,NaN,0.0,0,574.346 0,17.230,0,NaN
4,6.113.761-0,GONZALEZ NUNEZ HECTOR GUILLERMO,284.289,32.523,3.582,0,NaN,NaN,0.0,0,284.289 1.706,6.823,0,NaN
5,16.747.157-9,HUERTA MELLA MARLEN VIRGINIA,237.504,27.170,2.993,0,NaN,NaN,0.0,0,237.504 0,7.125,0,NaN
6,8.868.203-3,MUNOZ SANDOVAL PATRICIA DEL CARMEN,756.849,86.584,9.536,0,NaN,NaN,0.0,0,756.849 4.541,18.164,0,NaN
7,16.750.572-4,PELLEGRINI RIQUELME SILVIA,610.141,69.800,7.688,0,NaN,NaN,0.0,0,610.141 0,18.304,0,NaN
8,NaN,TOTALES GENERALES,2.463.129,281.782,31.036,0,NaN,NaN,0.0,0,2.463.129 6.247,67.646,NaN,NaN