In [1]:
import tabula

In [2]:
import pandas as pd

In [5]:
dfs = tabula.read_pdf("document.pdf", pages='1', stream=True)

In [6]:
len(dfs)

3

In [11]:
dfs[1]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,5
0,Remuneraciones,NaN,Gratificaciones,Desde,NaN,NaN,FDO. PENSIONES,NaN
1,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN
2,del mes,NaN,NaN,NaN,NaN,2.463.129,NaN,NaN
3,Periodo,01/2014,Retroactivo,Hasta,NaN,NaN,NUMERO AFILIADOS APVC,0.0
4,NaN,NaN,Ley 19553,Fecha Pago,19/02/2014,NaN,NUMERO AFILIADOS VOLUNTARIOS,0.0

In [5]:
afp = dfs[3].iloc[:-1].copy()

In [6]:
afp.columns = afp.iloc[0].values

In [7]:
afp = afp.drop(0, axis=0).reset_index(drop=True)

In [8]:
afp

,RUT,"Apellido Paterno, Materno, Nombres",Remuneración\rImponible,Cotización\rObligatoria,SIS,Cotización\rVoluntaria\r(APVI),N° Contrato\rAPVI,Deposito\rConvenido,Dep. en Cta.\rAhorro,Remuneración\rImponible,Cotización\rAfiliado,Cotización\rEmpleador,Cod.,Fecha Inicio,Fecha\rTérmino
0,13.278.815-4,BARRA ASTUDILLO MAURICIO ARMANDO,574.346,65.705,7.237,0,NaN,0,0,574.346,0,17.230,0,NaN,NaN
1,6.113.761-0,GONZALEZ NUNEZ HECTOR GUILLERMO,284.289,32.523,3.582,0,NaN,0,0,284.289,1.706,6.823,0,NaN,NaN
2,16.747.157-9,HUERTA MELLA MARLEN VIRGINIA,237.504,27.170,2.993,0,NaN,0,0,237.504,0,7.125,0,NaN,NaN
3,8.868.203-3,MUNOZ SANDOVAL PATRICIA DEL CARMEN,756.849,86.584,9.536,0,NaN,0,0,756.849,4.541,18.164,0,NaN,NaN
4,16.750.572-4,PELLEGRINI RIQUELME SILVIA,610.141,69.800,7.688,0,NaN,0,0,610.141,0,18.304,0,NaN,NaN

In [10]:
afp.dtypes

RUT                                   object
Apellido Paterno, Materno, Nombres    object
Remuneración\rImponible               object
Cotización\rObligatoria               object
SIS                                   object
Cotización\rVoluntaria\r(APVI)        object
N° Contrato\rAPVI                     object
Deposito\rConvenido                   object
Dep. en Cta.\rAhorro                  object
Remuneración\rImponible               object
Cotización\rAfiliado                  object
Cotización\rEmpleador                 object
Cod.                                  object
Fecha Inicio                          object
Fecha\rTérmino                        object
dtype: object

In [12]:
afp.iloc[0:, 2:]

,Remuneración\rImponible,Cotización\rObligatoria,SIS,Cotización\rVoluntaria\r(APVI),N° Contrato\rAPVI,Deposito\rConvenido,Dep. en Cta.\rAhorro,Remuneración\rImponible,Cotización\rAfiliado,Cotización\rEmpleador,Cod.,Fecha Inicio,Fecha\rTérmino
0,574.346,65.705,7.237,0,NaN,0,0,574.346,0,17.230,0,NaN,NaN
1,284.289,32.523,3.582,0,NaN,0,0,284.289,1.706,6.823,0,NaN,NaN
2,237.504,27.170,2.993,0,NaN,0,0,237.504,0,7.125,0,NaN,NaN
3,756.849,86.584,9.536,0,NaN,0,0,756.849,4.541,18.164,0,NaN,NaN
4,610.141,69.800,7.688,0,NaN,0,0,610.141,0,18.304,0,NaN,NaN

In [13]:
afp.iloc[0:, 2:].apply(lambda x: x.replace('.', ''))

,Remuneración\rImponible,Cotización\rObligatoria,SIS,Cotización\rVoluntaria\r(APVI),N° Contrato\rAPVI,Deposito\rConvenido,Dep. en Cta.\rAhorro,Remuneración\rImponible,Cotización\rAfiliado,Cotización\rEmpleador,Cod.,Fecha Inicio,Fecha\rTérmino
0,574.346,65.705,7.237,0,NaN,0,0,574.346,0,17.230,0,NaN,NaN
1,284.289,32.523,3.582,0,NaN,0,0,284.289,1.706,6.823,0,NaN,NaN
2,237.504,27.170,2.993,0,NaN,0,0,237.504,0,7.125,0,NaN,NaN
3,756.849,86.584,9.536,0,NaN,0,0,756.849,4.541,18.164,0,NaN,NaN
4,610.141,69.800,7.688,0,NaN,0,0,610.141,0,18.304,0,NaN,NaN

In [ ]:
afp.iloc[0:, 2:] = afp.iloc[0:, 2:].apply(lambda x: x.str.replace('.', ''))

In [ ]:
afp.iloc[0:, 2:] = afp.iloc[0:, 2:].apply(pd.to_numeric)

In [ ]:
afp

In [ ]:
afp.iloc[:, 2:].sum(axis=0)

In [ ]:
afp.columns = afp.columns.str.replace('\r', ' ')

In [ ]:
afp

In [ ]:
afp = afp.dropna(axis=1)

In [ ]:
afp

In [ ]:
afp.iloc[:, 2:].sum(axis=0)

In [ ]:
afp = afp.loc[:,~afp.columns.duplicated()]

In [ ]:
afp

In [ ]:
#tipo_descuento, nombre_empresa
tipo, nombre = tuple(dfs[0].columns[0].split())

In [ ]:
afp[tipo] = nombre

In [ ]:
afp.drop('Cod.', axis=1)