In [32]:
import camelot

In [33]:
import glob

In [34]:
directory = '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/*.pdf'

In [35]:
directory

'/Users/joqsan/0-Excel/Reading_From_Folders/AFP/*.pdf'

In [36]:
files = [filename for filename in glob.glob(directory)]

In [37]:
files

['/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Habitat_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Habitat_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Habitat_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/PlanVital_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/PlanVital_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/PlanVital_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Cuprum_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Cuprum_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Cuprum_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Provida_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Provida_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Provida_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Capital_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Modelo_01.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Capital_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Modelo_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Modelo_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/AFP/Capital_03.pdf']

## Let's test AFP

In [38]:
import camelot
import pandas as pd
%matplotlib notebook
import re
import calendar
import locale
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')

'es_ES.UTF-8'

In [39]:
months = list(calendar.month_abbr)
months = list(map(lambda x: x.capitalize(), months))

In [40]:
area = ['21, 442, 133, 422', '19, 407, 394, 244', '397, 366, 779, 318']

In [41]:
def transpose_data(df, month, name):
    df = df.transpose()
    df.columns = df.iloc[0, :]
    df = df.drop(0, axis=0)
    df = df.set_index([[month], [name]])
    
    return df

In [42]:
def afp_data_cleaning(dfs):
    
    part1 = dfs[0].df.copy()
    period = part1.iloc[0, 1]
    month_str = re.match(r"(?P<month>[0-9]{2})", period).group('month')
    month_id = int(re.sub(r'0([0-9])', r'\1', month_str))
    month = months[month_id]
    
    
    part2 = dfs[1].df.copy()
    part2 = part2.drop([0, 1])
    part2.loc[:3, 0] = part2.loc[:3, 0].str.replace('Cotización', 'SC')
    part2.iloc[-1, 0] = 'Total A Pagar SC'
    part2.reset_index(drop=True, inplace=True)
    
    part3 = dfs[2].df.copy()
    afp_name = part3.iloc[-1, 0].split(' ')[-1]
    part3 = part3.drop([0, 1, 10, 13])
    part3.iloc[0, 0] = 'Total Imponible'
    part3.iloc[-1, 0] = 'Total A Pagar A AFP'
    
    afp = pd.concat([part3, part2], ignore_index=True)
    afp.iloc[:, [1]] = afp.iloc[:, [1]].apply(lambda x: x.str.replace('.', '')).astype(int)
    
    afp = transpose_data(afp, month, afp_name)
    
    return afp

In [43]:
afp1 = camelot.read_pdf(files[8], pages='1', flavor='stream', table_areas=area)

In [44]:
afp1 = afp_data_cleaning(afp1)

In [45]:
afp1

,,Total Imponible,Cotización Obligatoria,Seguro Invalidez y Sobrevivencia (SIS),Cotización Voluntaria (APVI),Depósito Convenido,Depósito en Cuenta de Ahorro,Aportes de Indemnización Sustitutiva,Cotización por Trabajos Pesados,APV Colectivo Empleador,APV Colectivo Trabajador,Monto Capitalización Voluntaria,Monto Ahorro Voluntario,Total A Pagar A AFP,SC Afiliados,SC Empleador,Total A Pagar SC
Ene,Cuprum,1304583,149244,19960,0,0,0,0,0,0,0,0,0,169204,3267,35870,39137

In [46]:
afp_list = []
for afp_file in files:
    afp_dfs = camelot.read_pdf(afp_file, pages='1', flavor='stream', table_areas=area)
    afp = afp_data_cleaning(afp_dfs)
    afp_list.append(afp)

In [47]:
df = pd.concat(afp_list)

In [48]:
df

0             Total Imponible Cotización Obligatoria  \
Ene Habitat           9154213                1031680
Feb Habitat           9154213                1031680
Mar Habitat           5672009                 639235
Feb PlanVital         2234221                 249338
Mar PlanVital         2588517                 288879
Ene PlanVital         2197538                 245245
Mar Cuprum            1006648                 115160
Feb Cuprum            1304583                 149244
Ene Cuprum            1304583                 149244
Mar Provida           4556034                 521666
Feb Provida           3507125                 401566
Ene Provida           3507125                 401566
    Capital           1371956                 156952
    Modelo            4188146                 451063
Feb Capital           2125687                 243179
Mar Modelo            6845862                 737300
Feb Modelo            4188146                 451063
Mar Capital           2689619                 307692

0             Seguro Invalidez y Sobrevivencia (SIS)  \
Ene Habitat                                   119080
Feb Habitat                                   119080
Mar Habitat                                    68770
Feb PlanVital                                  34184
Mar PlanVital                                  42590
Ene PlanVital                                  33623
Mar Cuprum                                     15402
Feb Cuprum                                     19960
Ene Cuprum                                     19960
Mar Provida                                    69709
Feb Provida                                    53660
Ene Provida                                    53660
    Capital                                    30341
    Modelo                                     64079
Feb Capital                                    32523
Mar Modelo                                    104742
Feb Modelo                                     64079
Mar Capital                                    41151

0             Cotización Voluntaria (APVI) Depósito Convenido  \
Ene Habitat                              0                  0
Feb Habitat                              0                  0
Mar Habitat                              0                  0
Feb PlanVital                            0                  0
Mar PlanVital                            0                  0
Ene PlanVital                            0                  0
Mar Cuprum                               0                  0
Feb Cuprum                               0                  0
Ene Cuprum                               0                  0
Mar Provida                          72000                  0
Feb Provida                          72000                  0
Ene Provida                          72000                  0
    Capital                              0                  0
    Modelo                               0                  0
Feb Capital                              0                  0
Mar Modelo                               0                  0
Feb Modelo                               0                  0
Mar Capital                              0                  0

0             Depósito en Cuenta de Ahorro  \
Ene Habitat                              0
Feb Habitat                              0
Mar Habitat                              0
Feb PlanVital                            0
Mar PlanVital                            0
Ene PlanVital                            0
Mar Cuprum                               0
Feb Cuprum                               0
Ene Cuprum                               0
Mar Provida                          72000
Feb Provida                          72000
Ene Provida                          72000
    Capital                              0
    Modelo                               0
Feb Capital                              0
Mar Modelo                               0
Feb Modelo                               0
Mar Capital                              0

0             Aportes de Indemnización Sustitutiva  \
Ene Habitat                                      0
Feb Habitat                                      0
Mar Habitat                                      0
Feb PlanVital                                    0
Mar PlanVital                                    0
Ene PlanVital                                    0
Mar Cuprum                                       0
Feb Cuprum                                       0
Ene Cuprum                                       0
Mar Provida                                      0
Feb Provida                                      0
Ene Provida                                      0
    Capital                                      0
    Modelo                                       0
Feb Capital                                      0
Mar Modelo                                       0
Feb Modelo                                       0
Mar Capital                                      0

0             Cotización por Trabajos Pesados APV Colectivo Empleador  \
Ene Habitat                                 0                       0
Feb Habitat                                 0                       0
Mar Habitat                                 0                       0
Feb PlanVital                               0                       0
Mar PlanVital                               0                       0
Ene PlanVital                               0                       0
Mar Cuprum                                  0                       0
Feb Cuprum                                  0                       0
Ene Cuprum                                  0                       0
Mar Provida                                 0                       0
Feb Provida                                 0                       0
Ene Provida                                 0                       0
    Capital                                 0                       0
    Modelo                                  0                       0
Feb Capital                                 0                       0
Mar Modelo                                  0                       0
Feb Modelo                                  0                       0
Mar Capital                                 0                       0

0             APV Colectivo Trabajador Monto Capitalización Voluntaria  \
Ene Habitat                          0                               0
Feb Habitat                          0                               0
Mar Habitat                          0                               0
Feb PlanVital                        0                               0
Mar PlanVital                        0                               0
Ene PlanVital                        0                               0
Mar Cuprum                           0                               0
Feb Cuprum                           0                               0
Ene Cuprum                           0                               0
Mar Provida                          0                               0
Feb Provida                          0                               0
Ene Provida                          0                               0
    Capital                          0                               0
    Modelo                           0                               0
Feb Capital                          0                               0
Mar Modelo                           0                               0
Feb Modelo                           0                               0
Mar Capital                          0                               0

0             Monto Ahorro Voluntario Total A Pagar A AFP SC Afiliados  \
Ene Habitat                         0             1150760        11006
Feb Habitat                         0             1150760        11006
Mar Habitat                         0              708005        11006
Feb PlanVital                       0              283522            0
Mar PlanVital                       0              331469            0
Ene PlanVital                       0              278868            0
Mar Cuprum                          0              130562         3488
Feb Cuprum                          0              169204         3267
Ene Cuprum                          0              169204         3267
Mar Provida                         0              735375         9347
Feb Provida                         0              599226        11150
Ene Provida                         0              599226        11150
    Capital                         0              187293            0
    Modelo                          0              515142        12904
Feb Capital                         0              275702         5298
Mar Modelo                          0              842042         6951
Feb Modelo                          0              515142        12904
Mar Capital                         0              348843         5622

0             SC Empleador Total A Pagar SC
Ene Habitat         222482           233488
Feb Habitat         222482           233488
Mar Habitat         123837           134843
Feb PlanVital        67026            67026
Mar PlanVital        83508            83508
Ene PlanVital        65925            65925
Mar Cuprum           26712            30200
Feb Cuprum           35870            39137
Ene Cuprum           35870            39137
Mar Provida         143952           153299
Feb Provida         110656           121806
Ene Provida         110656           121806
    Capital          40065            40065
    Modelo          112741           125645
Feb Capital          58472            63770
Mar Modelo          198423           205374
Feb Modelo          112741           125645
Mar Capital          75067            80689

In [49]:
import calendar

In [50]:
import locale
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')

'es_ES.UTF-8'

In [51]:
meses= list(calendar.month_abbr)

In [52]:
meses = list(map(lambda x: x.capitalize(), meses))

In [53]:
meses

['',
 'Ene',
 'Feb',
 'Mar',
 'Abr',
 'May',
 'Jun',
 'Jul',
 'Ago',
 'Sep',
 'Oct',
 'Nov',
 'Dic']

In [54]:
month_categories = pd.CategoricalIndex(df.index.get_level_values(0), categories=meses[1:], ordered=True)

In [55]:
df.index = [month_categories, df.index.get_level_values(1)]

In [56]:
df

0             Total Imponible Cotización Obligatoria  \
Ene Habitat           9154213                1031680
Feb Habitat           9154213                1031680
Mar Habitat           5672009                 639235
Feb PlanVital         2234221                 249338
Mar PlanVital         2588517                 288879
Ene PlanVital         2197538                 245245
Mar Cuprum            1006648                 115160
Feb Cuprum            1304583                 149244
Ene Cuprum            1304583                 149244
Mar Provida           4556034                 521666
Feb Provida           3507125                 401566
Ene Provida           3507125                 401566
    Capital           1371956                 156952
    Modelo            4188146                 451063
Feb Capital           2125687                 243179
Mar Modelo            6845862                 737300
Feb Modelo            4188146                 451063
Mar Capital           2689619                 307692

0             Seguro Invalidez y Sobrevivencia (SIS)  \
Ene Habitat                                   119080
Feb Habitat                                   119080
Mar Habitat                                    68770
Feb PlanVital                                  34184
Mar PlanVital                                  42590
Ene PlanVital                                  33623
Mar Cuprum                                     15402
Feb Cuprum                                     19960
Ene Cuprum                                     19960
Mar Provida                                    69709
Feb Provida                                    53660
Ene Provida                                    53660
    Capital                                    30341
    Modelo                                     64079
Feb Capital                                    32523
Mar Modelo                                    104742
Feb Modelo                                     64079
Mar Capital                                    41151

0             Cotización Voluntaria (APVI) Depósito Convenido  \
Ene Habitat                              0                  0
Feb Habitat                              0                  0
Mar Habitat                              0                  0
Feb PlanVital                            0                  0
Mar PlanVital                            0                  0
Ene PlanVital                            0                  0
Mar Cuprum                               0                  0
Feb Cuprum                               0                  0
Ene Cuprum                               0                  0
Mar Provida                          72000                  0
Feb Provida                          72000                  0
Ene Provida                          72000                  0
    Capital                              0                  0
    Modelo                               0                  0
Feb Capital                              0                  0
Mar Modelo                               0                  0
Feb Modelo                               0                  0
Mar Capital                              0                  0

0             Depósito en Cuenta de Ahorro  \
Ene Habitat                              0
Feb Habitat                              0
Mar Habitat                              0
Feb PlanVital                            0
Mar PlanVital                            0
Ene PlanVital                            0
Mar Cuprum                               0
Feb Cuprum                               0
Ene Cuprum                               0
Mar Provida                          72000
Feb Provida                          72000
Ene Provida                          72000
    Capital                              0
    Modelo                               0
Feb Capital                              0
Mar Modelo                               0
Feb Modelo                               0
Mar Capital                              0

0             Aportes de Indemnización Sustitutiva  \
Ene Habitat                                      0
Feb Habitat                                      0
Mar Habitat                                      0
Feb PlanVital                                    0
Mar PlanVital                                    0
Ene PlanVital                                    0
Mar Cuprum                                       0
Feb Cuprum                                       0
Ene Cuprum                                       0
Mar Provida                                      0
Feb Provida                                      0
Ene Provida                                      0
    Capital                                      0
    Modelo                                       0
Feb Capital                                      0
Mar Modelo                                       0
Feb Modelo                                       0
Mar Capital                                      0

0             Cotización por Trabajos Pesados APV Colectivo Empleador  \
Ene Habitat                                 0                       0
Feb Habitat                                 0                       0
Mar Habitat                                 0                       0
Feb PlanVital                               0                       0
Mar PlanVital                               0                       0
Ene PlanVital                               0                       0
Mar Cuprum                                  0                       0
Feb Cuprum                                  0                       0
Ene Cuprum                                  0                       0
Mar Provida                                 0                       0
Feb Provida                                 0                       0
Ene Provida                                 0                       0
    Capital                                 0                       0
    Modelo                                  0                       0
Feb Capital                                 0                       0
Mar Modelo                                  0                       0
Feb Modelo                                  0                       0
Mar Capital                                 0                       0

0             APV Colectivo Trabajador Monto Capitalización Voluntaria  \
Ene Habitat                          0                               0
Feb Habitat                          0                               0
Mar Habitat                          0                               0
Feb PlanVital                        0                               0
Mar PlanVital                        0                               0
Ene PlanVital                        0                               0
Mar Cuprum                           0                               0
Feb Cuprum                           0                               0
Ene Cuprum                           0                               0
Mar Provida                          0                               0
Feb Provida                          0                               0
Ene Provida                          0                               0
    Capital                          0                               0
    Modelo                           0                               0
Feb Capital                          0                               0
Mar Modelo                           0                               0
Feb Modelo                           0                               0
Mar Capital                          0                               0

0             Monto Ahorro Voluntario Total A Pagar A AFP SC Afiliados  \
Ene Habitat                         0             1150760        11006
Feb Habitat                         0             1150760        11006
Mar Habitat                         0              708005        11006
Feb PlanVital                       0              283522            0
Mar PlanVital                       0              331469            0
Ene PlanVital                       0              278868            0
Mar Cuprum                          0              130562         3488
Feb Cuprum                          0              169204         3267
Ene Cuprum                          0              169204         3267
Mar Provida                         0              735375         9347
Feb Provida                         0              599226        11150
Ene Provida                         0              599226        11150
    Capital                         0              187293            0
    Modelo                          0              515142        12904
Feb Capital                         0              275702         5298
Mar Modelo                          0              842042         6951
Feb Modelo                          0              515142        12904
Mar Capital                         0              348843         5622

0             SC Empleador Total A Pagar SC
Ene Habitat         222482           233488
Feb Habitat         222482           233488
Mar Habitat         123837           134843
Feb PlanVital        67026            67026
Mar PlanVital        83508            83508
Ene PlanVital        65925            65925
Mar Cuprum           26712            30200
Feb Cuprum           35870            39137
Ene Cuprum           35870            39137
Mar Provida         143952           153299
Feb Provida         110656           121806
Ene Provida         110656           121806
    Capital          40065            40065
    Modelo          112741           125645
Feb Capital          58472            63770
Mar Modelo          198423           205374
Feb Modelo          112741           125645
Mar Capital          75067            80689

In [57]:
df = df.sort_index(level=0)

In [58]:
df

0             Total Imponible Cotización Obligatoria  \
Ene Capital           1371956                 156952
    Cuprum            1304583                 149244
    Habitat           9154213                1031680
    Modelo            4188146                 451063
    PlanVital         2197538                 245245
    Provida           3507125                 401566
Feb Capital           2125687                 243179
    Cuprum            1304583                 149244
    Habitat           9154213                1031680
    Modelo            4188146                 451063
    PlanVital         2234221                 249338
    Provida           3507125                 401566
Mar Capital           2689619                 307692
    Cuprum            1006648                 115160
    Habitat           5672009                 639235
    Modelo            6845862                 737300
    PlanVital         2588517                 288879
    Provida           4556034                 521666

0             Seguro Invalidez y Sobrevivencia (SIS)  \
Ene Capital                                    30341
    Cuprum                                     19960
    Habitat                                   119080
    Modelo                                     64079
    PlanVital                                  33623
    Provida                                    53660
Feb Capital                                    32523
    Cuprum                                     19960
    Habitat                                   119080
    Modelo                                     64079
    PlanVital                                  34184
    Provida                                    53660
Mar Capital                                    41151
    Cuprum                                     15402
    Habitat                                    68770
    Modelo                                    104742
    PlanVital                                  42590
    Provida                                    69709

0             Cotización Voluntaria (APVI) Depósito Convenido  \
Ene Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0
Feb Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0
Mar Capital                              0                  0
    Cuprum                               0                  0
    Habitat                              0                  0
    Modelo                               0                  0
    PlanVital                            0                  0
    Provida                          72000                  0

0             Depósito en Cuenta de Ahorro  \
Ene Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000
Feb Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000
Mar Capital                              0
    Cuprum                               0
    Habitat                              0
    Modelo                               0
    PlanVital                            0
    Provida                          72000

0             Aportes de Indemnización Sustitutiva  \
Ene Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0
Feb Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0
Mar Capital                                      0
    Cuprum                                       0
    Habitat                                      0
    Modelo                                       0
    PlanVital                                    0
    Provida                                      0

0             Cotización por Trabajos Pesados APV Colectivo Empleador  \
Ene Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0
Feb Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0
Mar Capital                                 0                       0
    Cuprum                                  0                       0
    Habitat                                 0                       0
    Modelo                                  0                       0
    PlanVital                               0                       0
    Provida                                 0                       0

0             APV Colectivo Trabajador Monto Capitalización Voluntaria  \
Ene Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0
Feb Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0
Mar Capital                          0                               0
    Cuprum                           0                               0
    Habitat                          0                               0
    Modelo                           0                               0
    PlanVital                        0                               0
    Provida                          0                               0

0             Monto Ahorro Voluntario Total A Pagar A AFP SC Afiliados  \
Ene Capital                         0              187293            0
    Cuprum                          0              169204         3267
    Habitat                         0             1150760        11006
    Modelo                          0              515142        12904
    PlanVital                       0              278868            0
    Provida                         0              599226        11150
Feb Capital                         0              275702         5298
    Cuprum                          0              169204         3267
    Habitat                         0             1150760        11006
    Modelo                          0              515142        12904
    PlanVital                       0              283522            0
    Provida                         0              599226        11150
Mar Capital                         0              348843         5622
    Cuprum                          0              130562         3488
    Habitat                         0              708005        11006
    Modelo                          0              842042         6951
    PlanVital                       0              331469            0
    Provida                         0              735375         9347

0             SC Empleador Total A Pagar SC
Ene Capital          40065            40065
    Cuprum           35870            39137
    Habitat         222482           233488
    Modelo          112741           125645
    PlanVital        65925            65925
    Provida         110656           121806
Feb Capital          58472            63770
    Cuprum           35870            39137
    Habitat         222482           233488
    Modelo          112741           125645
    PlanVital        67026            67026
    Provida         110656           121806
Mar Capital          75067            80689
    Cuprum           26712            30200
    Habitat         123837           134843
    Modelo          198423           205374
    PlanVital        83508            83508
    Provida         143952           153299

In [59]:
gb = df.groupby(level=0)

In [60]:
gb.sum()

,Total Imponible,Cotización Obligatoria,Seguro Invalidez y Sobrevivencia (SIS),Cotización Voluntaria (APVI),Depósito Convenido,Depósito en Cuenta de Ahorro,Aportes de Indemnización Sustitutiva,Cotización por Trabajos Pesados,APV Colectivo Empleador,APV Colectivo Trabajador,Monto Capitalización Voluntaria,Monto Ahorro Voluntario,Total A Pagar A AFP,SC Afiliados,SC Empleador,Total A Pagar SC
Ene,21723561,2435750,320743,72000,0,72000,0,0,0,0,0,0,2900493,38327,587739,626066
Feb,22513975,2526070,323486,72000,0,72000,0,0,0,0,0,0,2993556,43625,607247,650872
Mar,23358689,2609932,342364,72000,0,72000,0,0,0,0,0,0,3096296,36414,651499,687913
Abr,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
May,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Jun,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Jul,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ago,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Sep,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Oct,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Nov,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Dic,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [61]:
with pd.ExcelWriter('output.xlsx') as writer:
    df.to_excel(writer, sheet_name='AFP')