In [17]:
import camelot

In [18]:
import glob

In [19]:
directory = '/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/*.pdf'

In [20]:
directory

'/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/*.pdf'

In [21]:
files = [filename for filename in glob.glob(directory)]

In [22]:
files

['/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/Mutual_02.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/Mutual_03.pdf',
 '/Users/joqsan/0-Excel/Reading_From_Folders/MUTUAL/Mutual_01.pdf']

## Let's test MUTUAL

In [23]:
import camelot
import pandas as pd
%matplotlib notebook
import re
import calendar
import locale
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')

'es_ES.UTF-8'

In [24]:
months = list(calendar.month_abbr)
months = list(map(lambda x: x.capitalize(), months))

In [25]:
area = ['16, 464, 536, 383']
cols = ['']

In [26]:
def transpose_data(df, month, name):
    df = df.transpose()
    df.columns = df.iloc[0, :]
    df = df.drop(0, axis=0)
    df = df.set_index([[month], [name]])
    
    return df

In [27]:
def mutual_data_cleaning(dfs):
    
    df = dfs[0].df.copy()
    
    month = df.iloc[6, 4].split(' ')[0][:3]
    
    df = df.iloc[[5,7], [0, 3]].copy()
    df.iloc[:, 0] = ['Total Remuneraciones', 'Total A Pagar']
    df.iloc[:, [1]] = df.iloc[:, [1]].apply(lambda x: x.str.replace('.', '')).astype(int)
    
    mutual = transpose_data(df, month, 'Mutual')
    
    return mutual

In [28]:
mutual_list = []
for mutual_file in files:
    mutual_dfs = camelot.read_pdf(mutual_file, pages='1', flavor='stream', table_areas=area, columns=cols)
    mutual = mutual_data_cleaning(mutual_dfs)
    mutual_list.append(mutual)

In [29]:
df = pd.concat(mutual_list)

In [30]:
df

0          Total Remuneraciones Total A Pagar
Feb Mutual             24392042        475643
Mar Mutual             25431724        492210
Ene Mutual             24212761        460352

In [31]:
df.sum(axis=0)

0
Total Remuneraciones    74036527.0
Total A Pagar            1428205.0
dtype: float64